@{
    ViewData["Title"] = "Home Page";
}

<h2> Product API </h2>

<br />
<a href="http://demos.tsp.sg/productapi/swagger/"> Visit Swagger Page </a>
<br />


<br />
<a href="https://documenter.getpostman.com/view/3778695/SVSGNVXZ?version=latest"> Visit PostMan Documentation Page </a>
<br />


